requests
beautifulsoup
html5lib
torrentool
python-qbittorrent
click
configobj
cherrypy
six

# prob shit loads of others i dont remember
# just keep pip install for every import error.. :P open a issue if im missing one